body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calculator-display {
  background-color: papayawhip;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-button {
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calculator-button:hover {
  background-color: blue;
}

.calculator-button-operator {
  background-color: greenyellow;
}

.calculator-button-equal {
  background-color: #4CAF50;
  width:30px;
  color: black;
  width: 100px;
  height: 40px;
}
 
